.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;    
}
 
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}
 
.axis-label {
  -fx-text-fill: #4682b4;
}
 
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 

.default-color0.chart-series-line { -fx-stroke: green; }
.default-color0.chart-line-symbol { -fx-background-color: green, white; }
.default-color1.chart-series-line { -fx-stroke: red; }
.default-color1.chart-line-symbol { -fx-background-color: red, white; }
.default-color2.chart-series-line { -fx-stroke: blue; }
.default-color2.chart-line-symbol { -fx-background-color: blue, white; }

